/*ul li {
  float: left;
  border: solid 1px;
  display: inline;
}

ul {
  width: 400px;
  display: block;
  list-style-type: none;
}*/

ul {
  list-style-type: none;
  width: 500px;
  height: 500px;
}

ul li {
  width: 30%;
  height: 30%;
  float: left;
  border: solid 1px;
  background-color: grey;
}

.x {
  background-color: white;
  font-size: 200%;
  color: red;
}

.o {
  background-color: white;
  font-size: 200%;
  color: blue;
}

li:hover {
  background-color: yellow;
}
